@page
@model CBS.Pages.ReserveTeeTimeModel
@{
    ViewData["Title"] = "Reserve Tee Time";
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function rowClicked(row) {
            if ($(row).css("background-color") !== "rgb(204, 204, 204)") {
                $(".selected").removeClass("selected");
                $(row).addClass("selected");

                $(row).find("input[type=radio]").attr("checked", true);
            }
        }
    </script>
}

<h1>
    @ViewData["Title"]
</h1>

<form method="post">
    <div class="form-group">
        <label>Date</label>
        <input class="form-control" name="Date" value="@Model.Date.ToLongDateString()" />
        <span asp-validation-for="@Model.Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" asp-page-handler="View">View Daily Tee Sheet</button>
        @if (Request.Method == "POST" && !(Model.DailyTeeSheet is null))
        {
            <button type="submit" class="btn btn-primary" asp-page-handler="Select">Select Tee Time</button>
        }
        @if (Request.Query.TryGetValue("teeTime", out Microsoft.Extensions.Primitives.StringValues teeTime) && DateTime.TryParse(System.Web.HttpUtility.HtmlDecode(teeTime.ToString()), out DateTime _))
        {
            <button type="submit" class="btn btn-success" asp-page-handler="Reserve">Reserve Tee Time</button>
        }
    </div>
    <div class="form-group">
        @if (Request.Method == "POST" && !(Model.DailyTeeSheet is null))
        {
            <div style="height: 50vh; overflow: auto">
                <table class="table table-hover" style="table-layout: fixed;">
                    <thead>
                        <tr>
                            <td>
                                Time
                            </td>
                            <td>
                                Avaliability
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.DailyTeeSheet.TeeTimes.Count; i++)
                        {
                            <tr style="background-color: @(Model.DailyTeeSheet.TeeTimes[i].Reservable ? "" : "#CCC")" onclick="rowClicked(this)">
                                <td>@Model.DailyTeeSheet.TeeTimes[i].Datetime.ToShortTimeString() <input type="radio" style="display:none;" name="teeTime" value="@Model.DailyTeeSheet.TeeTimes[i].Datetime.ToShortTimeString()" /></td>
                                <td class="text-@(Model.DailyTeeSheet.TeeTimes[i].Golfers is null ? "success" : "danger")">@(Model.DailyTeeSheet.TeeTimes[i].Golfers is null ? "Avaliable" : "Reserved")</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
    @if (Request.Query.TryGetValue("teeTime", out teeTime) && DateTime.TryParse(System.Web.HttpUtility.HtmlDecode(teeTime.ToString()), out DateTime _))
    {
        <div class="form-group">
            <label>Phone</label>
            <input class="form-control" name="Phone" required/>
        </div>
        <div class="form-group">
            <label>Number of carts</label>
            <input class="form-control" name="NumberOfCarts" required/>
        </div>
        <div class="form-group">
            <label>Member Number</label>
            <input class="form-control" name="Golfers[0]" />
            <span class="text-danger"></span>
        </div>
    }
</form>

@if(Request.Query.TryGetValue("handler", out Microsoft.Extensions.Primitives.StringValues hander) && hander == "Reserve")
{
    <span class="text-@(Model.Confirmation ? "success" : "danger")">
        @(Model.Confirmation ? "Tee time reserved successfully" : Model.ErrorMessage);
    </span>
}

<style>
    .selected {
        background-color: lightcyan;
    }
</style>




