@page
@model CBS.Pages.ReserveTeeTimeModel
@{
    ViewData["Title"] = "Reserve Tee Time";
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function rowClicked(row) {
            if ($(row).css("background-color") !== "rgb(204, 204, 204)") {
                $(".selected").removeClass("selected");
                $(row).addClass("selected");

                $(row).find("input[type=radio]").attr("checked", true);
            }
        }
        function addGolfer(button) {
            var childCount = $("input[name^=Golfers]").length;
            if (childCount > 3) return;
            var formGroup = `<div class="form-group">
                <label>Member Number</label>
                <input class="form-control" name="Golfers[` + (childCount).toString() + `]" />
                <span class="text-danger" \></span>
            </div>`;
            $(button).parent().append(formGroup);
        }
        function removeGolfer(button) {
            $("input[name^=Golfers]").last().parent().remove()
        }
        function addErrorMessages(errors) {
            for (var i = 0; i < errors.length; i++) {
                $("input[name=Golfers[" + i.toString() + "]").parent().children("span").text("Member does not exist");
            }
        }
    </script>
}

<h1>
    @ViewData["Title"]
</h1>

<form method="post">
    <div class="form-group">
        <label>Date</label>
        <input class="form-control" name="Date" value="@Model.Date.ToLongDateString()" />
        <span asp-validation-for="@Model.Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" asp-page-handler="View">View Daily Tee Sheet</button>
        @if (Request.Method == "POST" && !(Model.DailyTeeSheet is null))
        {
            <button type="submit" class="btn btn-primary" asp-page-handler="Select">Select Tee Time</button>
        }
    </div>
    <div class="form-group">
        @if (Request.Method == "POST" && !(Model.DailyTeeSheet is null))
        {
            <div style="height: 50vh; overflow: auto">
                <table class="table table-hover" style="table-layout: fixed;">
                    <thead>
                        <tr>
                            <td>
                                Time
                            </td>
                            <td>
                                Avaliability
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.DailyTeeSheet.TeeTimes.Count; i++)
                        {
                            <tr style="background-color: @(Model.DailyTeeSheet.TeeTimes[i].Reservable ? "" : "#CCC")" onclick="rowClicked(this)">
                                <td>@Model.DailyTeeSheet.TeeTimes[i].Datetime.ToShortTimeString() <input type="radio" required style="display:none;" name="teeTime" value="@Model.DailyTeeSheet.TeeTimes[i].Datetime.ToShortTimeString()" /></td>
                                <td class="text-@(Model.DailyTeeSheet.TeeTimes[i].Golfers is null ? "success" : "danger")">@(Model.DailyTeeSheet.TeeTimes[i].Golfers is null ? "Avaliable" : "Reserved")</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
    @if (Model.IsValidTeeTime && Request.Query.ContainsKey("teeTime"))
    {<div id="teeTimeDetails">
            <div class="form-group">
                <label>Phone</label>
                <input class="form-control" name="Phone" />
                <span asp-validation-for="@Model.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Number of carts</label>
                <input class="form-control" name="NumberOfCarts" />
                <span asp-validation-for="@Model.NumberOfCarts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-secondary" value="Add Golfer" onclick="addGolfer(this)" />
                <input type="button" class="btn btn-secondary" value="Remove Golfer" onclick="removeGolfer(this)" />
            </div>
            @*<div class="form-group">
                <label>Member Number</label>
                <input class="form-control" name="Golfers[0]" />
                <span asp-validation-for="@Model.Golfers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Member Number</label>
                <input class="form-control" name="Golfers[1]" />
                <span asp-validation-for="@Model.Golfers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Member Number</label>
                <input class="form-control" name="Golfers[2]" />
                <span asp-validation-for="@Model.Golfers" class="text-danger"></span>
            </div>*@
        </div>
    }
</form>


<style>
    .selected {
        background-color: lightcyan;
    }
</style>




