@page
@model CBS.Pages.StandingTeeTimeRequestsModel
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Standing Tee Time Request";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section Scripts{
    <script>
        function rowClicked(row) {
            if ($(row).css("background-color") !== "rgb(204, 204, 204)" && $(row).find("input[type=radio]").length != 0) {
                $(".selected").removeClass("selected");
                $(row).addClass("selected");

                $(row).find("input[type=radio]").attr("checked", true);
            }
        }
    </script>
}

<h1>@ViewData["Title"]</h1>

<h4>
    @if (Model.ValidTimeSelected)
    {
        @($"{HttpContext.Session.GetString(nameof(Model.DayOfWeek))}s at {Request.Query["selectedTime"]}")
    }
</h4>

<form method="post">
    <div class="form-group">
        <label>Day of Week</label>
        <input class="form-control" name="DayOfWeek" placeholder="@DateTime.Today.DayOfWeek.ToString()" value="@(HttpContext.Session.GetString(nameof(Model.DayOfWeek)) ?? "")" />
        <span asp-validation-for="@Model.DayOfWeek" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" asp-page-handler="View">View Standing Tee Time Requests</button>
        @if (Request.Method == "POST" && !(Model.STTRequests is null))
        {
            <button type="submit" class="btn btn-primary" asp-page-handler="Select">Select Tee Time</button>
        }

        @if (Model.ValidTimeSelected)
        {
            <button type="submit" class="btn btn-success" asp-page-handler="Submit">Submit Standing Tee Time Request</button>
        }
    </div>
    <div class="text-@(Model.Confirmation ? "success" : "danger")">
        @if (TempData.ContainsKey("ErrorMessages") && TempData.Peek<List<string>>("ErrorMessages").Any())
        {
            var errors = TempData.Peek<List<string>>("ErrorMessages");
            @foreach (var error in errors)
            {
                <ul>
                    <li>@error</li>
                </ul>
            }
            TempData.Remove("ErrorMessages");
        }
        @(Model.Confirmation ? "Standing Tee time request submitted successfully" : "")
    </div>
    @if (Model.ValidTimeSelected)
    {
        <div class="form-group">
            <select name="StartDate" asp-for="StartDate">
                @(Model.InitialDate = DateTime.Today.AddDays(-(int)(DateTime.Today.DayOfWeek)))
                @switch (HttpContext.Session.GetString(nameof(DayOfWeek)))
                {
                    case "Monday":
                        Model.InitialDate = Model.InitialDate.AddDays(8);
                        break;
                    case "Tuesday":
                        Model.InitialDate = Model.InitialDate.AddDays(9);
                        break;
                    case "Wednesday":
                        Model.InitialDate = Model.InitialDate.AddDays(10);
                        break;
                    case "Thursday":
                        Model.InitialDate = Model.InitialDate.AddDays(11);
                        break;
                    case "Friday":
                        Model.InitialDate = Model.InitialDate.AddDays(12);
                        break;
                    case "Saturday":
                        Model.InitialDate = Model.InitialDate.AddDays(13);
                        break;
                    case "Sunday":
                        Model.InitialDate = Model.InitialDate.AddDays(7);
                        break;
                }
                <option value="">Select Start Date</option>
                @for (int i = 0; i < 52; i++)
                {
                    <option value="@Model.InitialDate">@Model.InitialDate.ToLongDateString()</option>
                    @(Model.InitialDate = Model.InitialDate.AddDays(7))
                }
            </select>

            <select name="EndDate">
                <option value="">Select End Date</option>
                @(Model.InitialDate = Model.InitialDate.AddDays(-(51 * 7)))
                @for (int i = 0; i < 52; i++)
                {
                    <option value="@Model.InitialDate">@Model.InitialDate.ToLongDateString()</option>
                    @(Model.InitialDate = Model.InitialDate.AddDays(7))
                }
            </select>
        </div>
        <div class="form-group">
            <label>Member Number 1</label>
            <input class="form-control" name="SuppliedMemberNumbers[0]" asp-for="SuppliedMemberNumbers" />
            <span asp-validation-for="@Model.SuppliedMemberNumbers" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Member Number 2</label>
            <input class="form-control" name="SuppliedMemberNumbers[1]" asp-for="SuppliedMemberNumbers" />
            <span asp-validation-for="@Model.SuppliedMemberNumbers" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Member Number 3</label>
            <input class="form-control" name="SuppliedMemberNumbers[2]" asp-for="SuppliedMemberNumbers" />
            <span asp-validation-for="@Model.SuppliedMemberNumbers" class="text-danger"></span>
        </div>
    }

    @if (Model.STTRequests?.Any() ?? false)
    {
        <div style="height: 50vh; overflow: auto">
            <table class="table table-hover" style="table-layout: fixed;">
                <thead>
                    <tr>
                        <td>
                            Time
                        </td>
                        <td>
                            Avaliability
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var STTR in Model.STTRequests)
                    {
                        <tr onclick="rowClicked(this)" class="d-sm-table-row">
                            <td>
                                @STTR.RequestedTime.ToString("HH:mm")
                                @if (STTR.Members is null)
                                {
                                    <input type="radio" required style="display:none;" name="selectedTime" value="@STTR.RequestedTime.ToString("HH:mm")" />
                                }
                            </td>
                            <td class="text-@(STTR.Members is null ? "success" :"warning")">
                                @(STTR.Members is null ? "Avaliable" : "Reserved")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</form>